<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google Maps API Key - Replace with your actual key -->
    <key>GoogleMapsAPIKey</key>
    <string>AIzaSyD8LfG_dswX7RwHlfSCf-Qc0qFpEVm-XrM</string>
    
    <!-- Firebase Project ID -->
    <key>FirebaseProjectID</key>
    <string> barrim-3b45a</string>
</dict>
</plist>
