<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307776183600-aoags2ect1p5i6rmebgsltb9ipsfin86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307776183600-aoags2ect1p5i6rmebgsltb9ipsfin86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>307776183600-p4ra4n80v0tajt573n8q5t4a684c0sn6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYwCHkNIoKE2-Dxn4ck3C5N_xxNOCnUxI</string>
	<key>GCM_SENDER_ID</key>
	<string>307776183600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barrim.barrim</string>
	<key>PROJECT_ID</key>
	<string>barrim-3b45a</string>
	<key>STORAGE_BUCKET</key>
	<string>barrim-3b45a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307776183600:ios:5bf9edb81f519538b5fcf5</string>
</dict>
</plist>